.categoryTabs {
    display: flex;
    gap: 8px;
    padding: 16px 0;
    overflow-x: auto;
    scrollbar-width: none;
}

.categoryTab {
    padding: 10px 14px;
    border-radius: 12px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;
    cursor: pointer;
    transition: 0.2s linear;
    border: 2px solid rgba(0, 0, 0, 0.08);
    box-shadow: var(--shadow-drop);
}

.categoryTab:nth-child(4n + 2) {
    background: #ffe4ec;
    color: #b44866;
}

.categoryTab:nth-child(4n + 3) {
    background: #fff5d6;
    color: #c78b23;
}

.categoryTab:nth-child(4n + 4) {
    background: #e0f7f4;
    color: #1e8273;
}

.categoryTab:nth-child(4n + 5) {
    background: #e0e4ff;
    color: #4b4dbb;
}

.categoryTab:hover {
    filter: brightness(0.95);
}

.categoryTab.active {
    transform: translateY(-2px);
    box-shadow: var(--shadow-inner);
    border: 4px solid rgba(0, 0, 0, 0.08);
}