.menuTopWrap {
    padding-top: var(--header-height);
}

.menuTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;
    gap: 12px;
}

.menuLeft {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    gap: 10px;
}

.menuLeft,
.searchInputWrap {
    transition: opacity 0.2s ease, transform 0.2s ease, max-width 0.2s ease;
}

.title {
    font-size: 32px;
    font-weight: 700;
    color: var(--text-primary-color);
    letter-spacing: 1px;
}

.searchBtn {
    border: none;
    background: transparent;
    padding: 6px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: inset 0px 2px 4px rgba(33, 33, 33, 0.982);
}

.divider {
    width: 100%;
    height: 1px;
    background-color: var(--text-primary-color);
}

.searchInputWrap {
    flex: 1;
    display: flex;
    align-items: center;
}

.searchInput {
    width: 100%;
    padding: 10px 14px;
    border-radius: 12px;
    border: 1px solid #00456f;
    font-size: 16px;
    outline: none;
}