.msd-container {
    position: relative;
    width: 100%;
    /* max-width: 320px; */
    /* max-width: 320px; */
    /* margin: 50px auto 30px; */
}

/* select */
.msd-select-btn {
    height: 37px;
    padding: 0px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #dee2e6;
    cursor: pointer;
}

.msd-text {
    font-size: 16px;
    font-weight: 400;
    /* color: var(--text-primary-color); */
}

/* !mũi tên drop*/
.msd-select-btn .msd-arrow {
    margin-left: 10px;
    color: #fff;
    background-color: var(--text-primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 0.25s;
}

.msd-select-btn.open .msd-arrow {
    transform: rotate(90deg);
}

.msd-select-btn.open~.msd-list {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
    animation-duration: 0.4s;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
}

/* list dropdown */
.msd-list {
    position: absolute;
    /* max-width: 320px; */
    width: 100%;
    margin-top: 15px;
    border-radius: 8px;
    padding: 16px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation-name: fadeInDown;
    -webkit-animation-name: fadeInDown;
    animation-duration: 0.35s;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.35s;
    -webkit-animation-fill-mode: both;
}

/* item */
.msd-list .msd-item {
    display: flex;
    align-items: center;
    height: 50px;
    cursor: pointer;
    padding: 0 15px;
    border-radius: 8px;
    transition: 0.3s;
}

.msd-list .msd-item:hover {
    opacity: 0.6;
}

.msd-item-text {
    font-size: 16px;
    font-weight: 500;
    color: #333;
}

.msd-item.disabled {
    pointer-events: none;
    opacity: 0.5;
}

/* checkbox */
.msd-item .msd-checkbox {
    height: 16px;
    width: 16px;
    margin-right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid #c0c0c0;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
}

.msd-item.checked .msd-checkbox {
    background-color: rgb(0, 255, 21);
    border: rgb(0, 255, 21);
}

.msd-item.checked .msd-check-icon {
    transform: scale(1);
}

.msd-checkbox .msd-check-icon {
    font-size: 11px;
    color: #fff;
    transform: scale(0);
    transition: all 0.2s ease-in-out;
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0, 30px 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInDown {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        transform: translate3d(0, 20px, 0);
        opacity: 0;
    }
}