/* Header */
.header {
    display: flex;
    align-items: start;
    gap: 8px;
    padding: 12px;
    background: #fff;
    max-width: 430px;
    margin: 0 auto;
    box-shadow: var(--shadow-drop);
    color: var(--text-primary-color);
}

.headerBackBtn {
    color: var(--text-primary-color);
}

.headerTitle {
    font-size: 18px;
    font-weight: 700;
}

.main {
    padding: 0 12px;
    max-width: 430px;
    margin: 0 auto;
    background: var(--bg-color);
    color: var(--text-primary-color);
    min-height: calc(100vh - 160px);
}

/* Order */
.cardOrder {
    background: white;
    padding: 14px;
    border-radius: 12px;
    margin-top: 14px;
    margin-bottom: 14px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}


.orderRow {
    display: flex;
    gap: 10px;
    margin-bottom: 14px;
}

.orderImg {
    width: 55px;
    height: 55px;
    border-radius: 8px;
    object-fit: cover;
}

.orderContent {
    flex: 1;
}

.orderTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.orderQty {
    font-weight: 600;
    color: #444;
}

.orderName {
    flex: 1;
    margin-left: 6px !important;
    font-size: 14px;
}

.orderPrice {
    font-weight: 600;
}

.orderNote {
    font-size: 12px;
    color: #777;
    margin-top: 4px;
}

/* Coupon */
.cardCoupon {
    background: #fff;
    padding: 14px;
    border-radius: 12px 12px 0 0;
    margin-bottom: 6px;
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1);
}

.couponRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.couponLeft {
    display: flex;
    align-items: center;
    gap: 10px;
}

.couponIcon {
    color: var(--text-primary-color);
}

.couponText {
    font-weight: 600;
    font-size: 14px;
}


/* bill */
.cardBill {
    background: #fff;
    padding: 14px;
    border-radius: 0 0 12px 12px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 16px;
}

.billTitle {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 8px;
}

.billRow {
    display: flex;
    justify-content: space-between;
    margin: 6px 0;
}

.billDiscount {
    font-weight: 500;
}

.billTotal {
    margin-top: 12px;
    font-weight: 700;
    color: var(--text-orange-color);
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}

/* !foooter */
.footer {
    padding: 12px;
    max-width: 430px;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.1);
}

.payOptions {
    display: flex;
    gap: 10px;
}

.payBtnOutline,
.payBtnBank {
    flex: 1;
    padding: 12px;
    border-radius: 10px;
    background: white;
    border: 1px solid #dcdcdc;
    font-size: 14px;
}

.payBtnBank {
    border-color: red;
    color: red;
}

.payChangeBtn {
    text-align: center;
    margin: 10px 0;
    font-size: 14px;
    color: #1026e4;
    display: block;
    text-decoration: none;
    font-weight: 600;
}

.paySubmit {
    width: 100%;
    padding: 14px;
    font-size: 16px;
    font-weight: 700;
    background: var(--gradient-button);
    box-shadow: var(--shadow-inner);
    text-shadow: var(--shadow-drop);
    border-radius: 14px;
    border: none;
    color: #333;
}

.payBtnOutline.active,
.payBtnBank.active {
    border: 3px solid var(--gradient-button);
    font-weight: 700;
    transform: scale(1.02);
}

.payBtnBank.active {
    border-color: var(--gradient-button);
    color: red;
    font-weight: 700;
}