/* Item Container */
.itemContainer {
    padding: 16px 0;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 16px;
    padding-bottom: calc(var(--footer-height) + 40px);
}

/* Item Card */
.itemCard {
    background: #fff;
    border-radius: 18px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}

/* Image Container */
.imageContainer {
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: 12px 12px 0 0;
    background: #fff;
    padding: 6px;
}

.imageContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 22px 22px 18px 18px;
    display: block;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

/* Item Name */
.itemName {
    font-size: 16px;
    font-weight: 600;
    color: #333333;
    margin: 12px 0 16px;
    padding: 0 12px;
    min-height: 48px;

    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: clip;
}

/* Item Footer */
.itemFooter {
    padding: 10px 12px 8px;
    background: #fcf3f3;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.itemInfo {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.itemSize {
    font-size: 11px;
    color: #666;
}

.itemPrice {
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.3px;
    color: var(--text-orange-color);
    max-width: 80px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Add Button */
.addButton {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: none;
    background: var(--gradient-button);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 700;
    color: #000;
    cursor: pointer;
    transition: transform ease 0.15s;
}

.addButton:active {
    transform: scale(1.4);
}

/* emty mesg  */
.emptyMessage {
    grid-column: 1 / -1;
    text-align: center;
    padding: 40px 20px;
    color: var(--text-primary-color);
    font-size: 15px;
}