/* ! Item Container*/
.itemContainerWrap {
    padding: 16px 0;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 16px;
    padding-bottom: calc(var(--footer-height) + 40px);
}

/* ! Item Card */
.itemCardWrap {
    background: #fff;
    border-radius: 18px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

/* Img */
.imageWrap {
    width: 100;
    aspect-ratio: 1/1;
    overflow: hidden;
}

.imageWrap img {
    width: 100%;
    object-fit: cover;
    display: block;
}


.name {
    font-size: 16px;
    font-weight: 600;
    color: #333333;
    margin: 12px 0 16px;
    padding: 0 12px;

    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: clip;
}

.content {
    padding: 10px 12px 8px;
    /* background: #f8f0cf; */
    background: #fcf3f3;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.size {
    font-size: 11px;
    color: #666;
}

.price {
    font-size: 14px;
    font-weight: 700;
    color: var(--text-orange-color);
    max-width: 80px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Nút theem*/
.plusBtn {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: none;
    background: var(--gradient-button);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 700;
    color: #000;
    cursor: pointer;

    transition: transform ease 0.15s;
}

.plusBtn:active {
    transform: scale(1.4);
}