.container {
    position: relative;
    max-width: 320px;
    width: 100%;
    margin: 50px auto 30px;
}

.select-btn {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    padding: 0px 16px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.select-btn .btn-text {
    font-style: 16px;
    font-weight: 400;

}

.select-btn .arrow-down {
    display: flex;
    height: 21px;
    width: 21px;
    color: #fff;
    font-style: 14px;
    border-radius: 50%;
    background-color: #822929;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    cursor: pointer;
}

.select-btn.open .arrow-down {
    transform: rotate(-180deg);
}

.select-btn.open~.list {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
    animation-duration: 0.4s;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
}

.list {
    position: absolute;
    max-width: 320px;
    width: 100%;
    margin-top: 15px;
    border-radius: 8px;
    padding: 16px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation-name: fadeInDown;
    -webkit-animation-name: fadeInDown;
    animation-duration: 0.35s;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.35s;
    -webkit-animation-fill-mode: both;
}

.list .item {
    display: flex;
    align-items: center;
    list-style: none;
    height: 50px;
    cursor: pointer;
    transition: 0.3s;
    padding: 0px 15px;
    border-radius: 8px;
}

.list .item:hover {
    opacity: 0.5;
}

.item .item-text {
    font-style: 16px;
    font-weight: 400;
    color: #333;
}

.item .checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    width: 16px;
    border-radius: 4px;
    margin-right: 12px;
    border: 1.5px solid #c0c0c0;
    transition: all 0.3s ease-in-out;
}

.item.checked .checkbox {
    background-color: rgb(0, 255, 21);
    border: rgb(0, 255, 21);

}

.item.checked .checkbox-icon {
    transform: scale(1);
}

.checkbox .checkbox-icon {
    color: #fff;
    font-style: 11px;
    transform: scale(0);
    transition: all 0.2s ease-in-out;
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0, 30px 0);
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes fadeInDown {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        transform: translate3d(0, 20px, 0);
        opacity: 0;
    }
}